* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.container {
  margin: 1rem;
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}

.avatar {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 20vw;
  row-gap: 1rem;
  border-radius: 0.8rem;
  background: #aa4b6b;
  background: -webkit-linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
}

.new {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  color: #A5FECB;
}

h3 {
  color: #f7797d;
}

input[type='button'] {
  padding: 1rem;
  border-radius: 0.6rem;
  border: none;
  cursor: pointer;
  background: rgb(180, 157, 157);
}

input[type='text']{
  padding: 0.3rem;
  margin-left: 1vw;
}

.add{
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}